{% extends 'blog/base.html' %}
{% load i18n staticfiles %}

{% block content %}
	<div id="bio">Ma Biographie:<br><br>
	<img src="{% static "img/myphoto.png" %}"><p>
	{% for b in biographie %}
		<p>{{ b.contenu|linebreaks }}</p>
	{% endfor %}
	</p>
	</div>
	<div id="contacter">Contactez moi:<br>
	<form>
		<label for="mail" >E-mail *</label><br>
		<input type="text" class="mail" name="mail" /><br>
		<label for="objet" >Objet</label><br>
		<input type="text" class="obj" name="objet" /><br>
		<label for="massage" >Message *</label><br>
		<textarea name="message" class="mesg"></textarea><br><br>
		<input type="submit" class="valider" value="Envoyer"/>
	</form>
	</div>

{% endblock %}