{% load i18n staticfiles %}
<html>
    <head>
        <title>Ouleur blog</title>
        <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css"> -->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="all">
            <div class="line"></div>
            <div class="page-header">
                <div class="header-min">
                    <div class="logo"><h1>ADOU Vianney</h1></div>
                    <div class="menu">
                        <ul>
                            <li><a href="{% url 'home' %}" class="menu1">Home</a></li>
                            <!-- <li><a href="#" class="menu2">Menu 2</a></li>
                            <li><a href="#" class="menu3">Menu 3</a></li> -->
                            <li><a href="{% url 'apropos' %}" class="menu4">&Agrave; propos</a></li>
                        </ul>
                    </div>
             
                <!-- <h1><a href="/">Le Blog de OULEUR</a></h1> -->
                </div>
                
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="content">
                        <div class="content-min">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
                    
    </div >
    <div class="footer"> 
            <div class="cont">
                <div class="call">
                    <p>Call</p>
                    <p>+225 03 23 57 22</p>
                </div>

                <div class="contact">
                    <p>Contact</p>
                    <p>ouleur000@gmail.com</p>
                </div>

                <div class="follow">
                    <p>Follow me</p>
                    <p>F T G+</p>
                </div>

                <div class="call">
                </div>
            </div>

        </div>
    </body>
</html>