{% load i18n staticfiles %}
<html>
    <head>
        <title>Ouleur blog</title>
        <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css"> -->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="all">
                <div class="line"></div>
                <div class="page-header">
                    <div class="header-min">
                        <div class="logo"><h1>ADOU Vianney</h1></div>
                        <div class="menu">
                            <ul>
                                <li><a href="#" class="menu1">Home</a></li>
                                <!-- <li><a href="#" class="menu2">Menu 2</a></li>
                                <li><a href="#" class="menu3">Menu 3</a></li> -->
                                <li><a href="#" class="menu4">&Agrave; propos</a></li>
                            </ul>
                        </div>
                 
                    <!-- <h1><a href="/">Le Blog de OULEUR</a></h1> -->
                    </div>
                    
                </div>
            <div class="content">
                <div class="content-min">
                    <!-- <div class="row">
                        <div class="col-md-8">
                        {% block content %}
                        {% endblock %}
                        </div>
                    </div> -->
                    
                    
                    <div class="imageG" ><img src="{% static "img/myphoto.png" %}" /></div>
                    <div class="content-min-1"> 
                        <div class="hello"><p id="h"><h1>Bonjour,</h1></p><p id="bit">une id&eacute;e de moi:</p></div>
                        <div class="imageP1"><p>Informatique</p></div>
                        <div class="imageP2"><p>Electronique</p></div>
                        <div class="imageP3"><p>Hybride</p></div>
                        <br>
                        <br>
                        <p id="text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in  eprehenderit in voluptate velit esse </p>
                    </div>
                </div>
            </div>


    </div >
    <div class="footer"> 
            <div class="cont">
                <div class="call">
                    <p>Call</p>
                    <p>+225 49 95 59 45</p>
                    <p>+225 03 23 57 22</p>
                </div>

                <div class="contact">
                    <p>Contact</p>
                    <p>ouleur000@gmail.com</p>
                </div>

                <div class="follow">
                    <p>Follow me</p>
                    <p>F T G+</p>
                </div>

                <div class="call">
                </div>
            </div>

        </div>
    </body>
</html>