<html>
    <head>
        <title>Django Ouleur blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Ouleur Blog</a></h1>
        </div>

        <div>
            <!-- {{posts}} -->
            {% for post in posts %}
            	<div>
            		<p>Article publié le: {{ post.published_date }}</p>
            		<h1>Titre de l'article: <a href='#'>{{ post.title }}</a></h1>
            		<p>{{ post.text|linebreaks }}</p>
            	</div>
			{% endfor %}
        </div>
    </body>
</html>