* ,body, div{
    margin: 0;
    padding: 0;
}
.line {
    height: 7px;
    background-color: #474345;
}

.page-header {
    height: 10%;
    
}

.header-min {
    width: 1100px;
    margin: auto;
}

.logo {

}
.menu {
    color: #989898;
    right: 160px;
    margin-top: -20px;
    float: right;

}

.menu ul li{
    display: inline-block;
    margin-right: 60px;
}

.menu ul li a{
    text-decoration: none;
    color: #989898;


}
.content {
    background-color: #c3c1c2;
    height: 80%;
}

.content-min{
    width: 1100px;
    margin: auto;
}

.imageG,.content-min-1 {
    display: inline-block;
}   

.content-min-1 {
    height: 420px;

}
.imageG {
    height: 420px;
    width: 420px;

    border-radius: 50%;
    background-color: #323f4a;
    margin-top: 50px;
}

.imageG img{
    height: 420px;
    width: 420px;
      border-radius: 50%;
}

.hello {
    right: 460px;
    margin-left: 70px;
}

.hello h1 {
    font-size: 6em;

}

#bit {
    font-size: 3em;
}


#text {
    width: 500px;
    margin-left: 70px;
    right: 230px;
    top: 450px; 
}
.imageP1,.imageP2,.imageP3{
    margin-top: 0px;
    margin-left: 50px;
    text-align: center;
    display: inline-block;

}
.imageP1 {
    
    height: 150px;
    width: 150px;
    left: 600px;
    border-radius: 50%;
    background-color: #f00261;

}
.imageP2 {
   
    height: 150px;
    width: 150px;
    left: 780px;
    border-radius: 50%;
    background-color: #1d8fb9;

}

.imageP3 {
    height: 150px;
    width: 150px;
    left: 960px;
    border-radius: 50%;
    background-color: #2fda2b;

}

.imageP1 p,.imageP2 p,.imageP3 p {
    margin-top: 60px;
    color: #fff;
    font-size: 1.2em;

}


.footer {
    background-color: #f00261;
    height: 10%;
}
.footer div.cont{
    width: 70%;
    margin: auto;
    text-align: center;
    color: #fff;

}

.call ,.contact,.follow{
    display: inline-block;
    text-align: left;
}

  .contact,   .follow{
    margin-left: 60px;
    margin-top: -20px; 
}



/*################ A propos #####################*/

#bio,#contacter{
    display: inline-block;
}
/*Biographie*/
#bio {
    width: 500px;
}
#bio img {
    height: 150px;
    width: 150px;
    float: left;
    margin: 0 10px 2px 0;
    border-radius: 50%;
}

/*Contacter */
#contacter{
    float: right;
    width: 329px;
}

.mail,.obj {
    width: 329px;
    height: 40px;
}
.mesg {
    width: 329px;
    height: 201px;
}

.valider {
    width: 329px;
    height: 40px;
    border-bottom: 2px solid black; 
}
