* ,body, div{
    margin: 0;
    padding: 0;
}
.line {
    height: 10px;
    background-color: #474345;
}

.page-header {
    height: 80px;
    
}
.logo {
    margin-left: 280px;
}
.menu {
    color: #989898;
    right: 160px;
    position: absolute;
    top: 40px;
}

.menu ul li{
    display: inline-block;
    margin-right: 60px;
}

.menu ul li a{
    text-decoration: none;
    color: #989898;

}
.content {
    background-color: #c3c1c2;
    height: 600px;
}

.imageG {
    position: absolute;
    height: 450px;
    width: 450px;
    top: 120px;
    left: 250px;
    border-radius: 50%;
    background-color: #323f4a;
}

.hello {
    position: absolute;
    top: 100px; 
    right: 460px;
}

.hello h1 {
    font-size: 6em;
}

#bit {
    font-size: 3em;
}

#text {
    width: 500px;
    position: absolute;
    right: 230px;
    top: 450px; 
}
.imageP1,.imageP2,.imageP3{
    top: 280px;
    margin-left: 50px;
    text-align: center;

}
.imageP1 {
    position: absolute;
    height: 150px;
    width: 150px;
    left: 700px;
    border-radius: 50%;
    background-color: #f00261;

}
.imageP2 {
    position: absolute;
    height: 150px;
    width: 150px;
    left: 880px;
    border-radius: 50%;
    background-color: #1d8fb9;

}

.imageP3 {
    position: absolute;
    height: 150px;
    width: 150px;
    left: 1060px;
    border-radius: 50%;
    background-color: #2fda2b;

}

.imageP1 p,.imageP2 p,.imageP3 p {
    margin-top: 60px;
    color: #c1c1c1;
    font-size: 1.5em;

}


.footer {
    background-color: #f00261;
}
.footer div.cont{
    width: 70%;
    margin: auto;
    text-align: center;
    color: #fff;

}

.call ,.contact,.follow{
    display: inline-block;
    text-align: left;
}

  .contact,   .follow{
    margin-left: 60px;
    margin-top: -20px; 
}